<html xmlns:fb="http://ogp.me/ns/fb">
<head>
  <title><%= public._data.pageTitle %></title>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/prism-customized.css"/>
  <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta property="og:title" content="<%= public._data.pageTitle %>"/>
  <meta property="og:image"
        content="https://raw.githubusercontent.com/jscraftcamp/website/master/src/img/logo.png"/>
  <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<%- partial("_navigation") %>
<%- yield %>
<%- partial("_footer") %>

<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/handlebars.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
